PORT=3000
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=lr_user
DATABASE_PASSWORD=lr_password123
DATABASE_NAME=inversiones_lr_db

JWT_SECRET=super_secret_jwt_key_for_inversiones_lr
JWT_EXPIRATION=1d

STRIPE_SECRET_KEY=sk_test_mock_key
STRIPE_WEBHOOK_SECRET=whsec_mock_key
